main {
    width: 90%;
    margin: auto;
}
.blog-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
main section {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1.5rem;
    margin-top: 3rem;

}
button {
    cursor: pointer;
}



/*
RESPONSIVE------------------------>>> 
 */

@media only screen and (min-width: 0px) and (max-width: 699px) {

    main section {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
}